openapi: "3.0.0"
info:
  title: SignalRisk Auth Service API
  version: "1.0.0"
  description: |
    OAuth2 token issuance (client_credentials, refresh_token grants), token
    revocation (RFC 7009), token introspection (RFC 7662), and merchant
    account management.
servers:
  - url: https://api.signalrisk.io
    description: Production
  - url: http://localhost:3015
    description: Local development
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    TokenRequest:
      type: object
      required:
        - grant_type
      properties:
        grant_type:
          type: string
          enum: [client_credentials, password, refresh_token]
          example: client_credentials
        client_id:
          type: string
          description: Required for client_credentials grant
          example: merchant-001
        client_secret:
          type: string
          description: Required for client_credentials grant
          example: sk_test_abc123deadbeef
        username:
          type: string
          description: Required for password grant
          example: admin@merchant.com
        password:
          type: string
          description: Required for password grant
          example: secret
        merchant_id:
          type: string
          description: Required for password grant
          example: merchant-001
        refresh_token:
          type: string
          description: Required for refresh_token grant
          example: rt_eyJhbGciOiJSUzI1NiJ9...
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJSUzI1NiJ9...
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Seconds until access token expires
          example: 900
        refresh_token:
          type: string
          example: rt_eyJhbGciOiJSUzI1NiJ9...
    IntrospectResponse:
      type: object
      properties:
        active:
          type: boolean
          example: true
        sub:
          type: string
          example: merchant-001
        merchant_id:
          type: string
          example: merchant-001
        role:
          type: string
          example: merchant
        permissions:
          type: array
          items:
            type: string
          example: ["events:write", "decisions:read"]
        client_id:
          type: string
          example: merchant-001
        token_type:
          type: string
          example: access_token
        exp:
          type: integer
          example: 1741276800
        iat:
          type: integer
          example: 1741272900
        iss:
          type: string
          example: https://auth.signalrisk.io
        jti:
          type: string
          example: a1b2c3d4-uuid
    CreateMerchant:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: Acme Corp
        webhookUrl:
          type: string
          example: https://acme.com/webhooks/signalrisk
        rateLimitPerMinute:
          type: integer
          minimum: 1
          maximum: 100000
          example: 1000
        tier:
          type: string
          enum: [default, burst]
          example: default
        roles:
          type: array
          items:
            type: string
          example: ["merchant"]
    MerchantResponse:
      type: object
      properties:
        id:
          type: string
          example: merchant-001
        name:
          type: string
          example: Acme Corp
        clientId:
          type: string
          example: merchant-001
        webhookUrl:
          type: string
          nullable: true
          example: https://acme.com/webhooks/signalrisk
        rateLimitPerMinute:
          type: integer
          example: 1000
        tier:
          type: string
          example: default
        active:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: "2026-03-06T12:00:00.000Z"
paths:
  /v1/auth/token:
    post:
      summary: Issue a JWT access token (OAuth2 token endpoint)
      operationId: issueToken
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            examples:
              clientCredentials:
                summary: client_credentials grant
                value:
                  grant_type: client_credentials
                  client_id: merchant-001
                  client_secret: sk_test_abc123deadbeef
              refreshToken:
                summary: refresh_token grant
                value:
                  grant_type: refresh_token
                  refresh_token: rt_eyJhbGciOiJSUzI1NiJ9...
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid grant type or missing required fields
        '401':
          description: Invalid client credentials

  /v1/auth/token/refresh:
    post:
      summary: Refresh an access token using a refresh token
      operationId: refreshToken
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  example: rt_eyJhbGciOiJSUzI1NiJ9...
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid or expired refresh token

  /v1/auth/token/revoke:
    post:
      summary: Revoke a token (RFC 7009)
      operationId: revokeToken
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  example: rt_eyJhbGciOiJSUzI1NiJ9...
                token_type_hint:
                  type: string
                  enum: [refresh_token, access_token]
                  example: refresh_token
      responses:
        '200':
          description: Token revoked successfully
        '400':
          description: Missing token field

  /v1/auth/token/introspect:
    post:
      summary: Introspect a token to check its validity and claims (RFC 7662)
      operationId: introspectToken
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  example: eyJhbGciOiJSUzI1NiJ9...
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
                  example: access_token
      responses:
        '200':
          description: Introspection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrospectResponse'

  /merchants:
    post:
      summary: Create a new merchant account
      operationId: createMerchant
      tags:
        - merchants
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMerchant'
      responses:
        '201':
          description: Merchant created with client credentials
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MerchantResponse'
                  - type: object
                    properties:
                      clientSecret:
                        type: string
                        description: Shown only once at creation time
                        example: sk_test_abc123deadbeef
        '400':
          description: Invalid request body
    get:
      summary: List all merchants
      operationId: listMerchants
      tags:
        - merchants
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Array of merchant records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MerchantResponse'

  /merchants/{id}:
    get:
      summary: Get a merchant by ID
      operationId: getMerchant
      tags:
        - merchants
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: merchant-001
      responses:
        '200':
          description: Merchant record (without client secret hash)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
        '404':
          description: Merchant not found

  /merchants/{id}/rotate-secret:
    post:
      summary: Rotate the client secret for a merchant
      operationId: rotateMerchantSecret
      tags:
        - merchants
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: merchant-001
      responses:
        '200':
          description: New client_id and client_secret returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientId:
                    type: string
                    example: merchant-001
                  clientSecret:
                    type: string
                    example: sk_test_newSecret123
        '404':
          description: Merchant not found

  /merchants/{id}/deactivate:
    post:
      summary: Deactivate a merchant account
      operationId: deactivateMerchant
      tags:
        - merchants
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: merchant-001
      responses:
        '200':
          description: Merchant deactivated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: deactivated
        '404':
          description: Merchant not found

  /merchants/{id}/activate:
    post:
      summary: Activate a merchant account
      operationId: activateMerchant
      tags:
        - merchants
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: merchant-001
      responses:
        '200':
          description: Merchant activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: activated
        '404':
          description: Merchant not found
